  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


  html {
    scrollbar-width: none;
  }


  body {
    -ms-overflow-style: none;
  }